.node {
  width: 30px;
  height: 30px;
  background-color: white;
  outline: 1px solid rgba(144, 175, 175, 0.75);
  display: inline-block;
}

.node-finish {
  background-color: red;
}

.node-start {
  background-color: green;
}

.node-is-wall {
  background-color: black;
}

.node-is-path {
  background-color: yellow;
}

.node-is-visited {
  background-color: lightskyblue;
}

.node-next-neighbor {
  background-color: green;
}
