.node {
  width: 20px;
  height: 20px;
  background-color: white;
  outline: 1px solid rgba(144, 175, 175, 0.75);
  display: inline-block;
}

.node-finish {
  background-color: red;
}

.node-start {
  background-color: green;
}

.node-is-wall {
  background-color: black;
}
